body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("BG2.jpg");
  /* Half height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  letter-spacing: 5px;
}

#linee {
  border-top: 2px solid rgb(0, 0, 0);
  width: 150px;
}

.card {
  background-color: rgba(37, 37, 37, 0.644);
}

/* 5 star rating start */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 40px;
  color: #ffd500;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}
/* 5 star rating end */



/* scrolling start */
.scrolling1 {
  height: 350px;	
  overflow: hidden;
  position: relative;
 }
 .scrolling1 table {
  position: absolute;
  width: 100%;
  margin: 0;
  border-color: cornsilk;

  /* Starting position */
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);	
  transform:translateY(-100%);
  /* Apply animation to this element */	
  -moz-animation: scrolling1 15s linear infinite;
  -webkit-animation: scrolling1 15s linear infinite;
  animation: scrolling1 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes scrolling1 {
  0%   { -moz-transform: translateY(-100%); }
  100% { -moz-transform: translateY(100%); }
 }
 @-webkit-keyframes scrolling1 {
  0%   { -webkit-transform: translateY(-100%); }
  100% { -webkit-transform: translateY(100%); }
 }
 @keyframes scrolling1 {
  0%   { 
  -moz-transform: translateY(-100%); /* Firefox bug fix */
  -webkit-transform: translateY(-100%); /* Firefox bug fix */
  transform: translateY(-100%); 		
  }
  100% { 
  -moz-transform: translateY(100%); /* Firefox bug fix */
  -webkit-transform: translateY(100%); /* Firefox bug fix */
  transform: translateY(100%); 
  }
 }


#t1{
  color: beige;
}

 #he3{
   color: rgb(255, 255, 255);
 }

 #SubB{
  color: rgb(255, 255, 255);
  background-color: black;
 }

 #SubB:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
 }





