* {
  box-sizing: border-box;
}

body {
margin: 0;
}

/* Header */
.header img{
    width: 35px;
}
/* content class */
.content{
	text-align:center;
}

.content h1{
	color:#ff9900;
}

.wedding{
    padding:10px;
}

.wedding img{
    width:100%;
}

.wedding table{
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
}
/* table*/
.table{
	border: 10px solid #ff9900;
	position: relative;
	padding: 10%;
	overflow: hidden;
	text-align: left;
	overflow-x:auto;
	border-spacing: 2%;
	border-collapse:collapse;
	width:100%;
}

/* footer */
.footer {
color:white;
  background-color: #252525;
  position: relative;
  padding: 50px;
overflow: hidden;
  list-style: none;
    font-size: 20px;
}

.footer img{
	padding-right:10px;
	width:35px;
}

.footer a{
    color: white;
}

.footer a:hover{
    color:#ff9900;
    text-decoration: none;
    transition:0.2s;
}

.footer h1, p{
       color:#ff9900; 
}

.footer p{
    text-align: center;
}

/* back to top button */
.arrow{
	width:4.5%;
	text-align:right;
	position:fixed;
	bottom:0;
	right:0;
	clear:both;
}
/* Horizantal line */
.hr{
    width: 100%;
   	background-color:#ff9900; 
}
/* Buffet catering overlay */
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.bc_d:hover .overlay1 {
  opacity: 1;
}
/* Buffet Chinese Banquet overlay */

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.cb_d:hover .overlay2 {
  opacity: 1;
}

/* Buffet Hawker Stall Style overlay */
.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.hss_d:hover .overlay3 {
  opacity: 1;
}

.text {
    width: 95%;
  color: white;
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.desc img{
    height:80%;
    width: 100%;
}
/* About page */
.about{
    padding:10px;
}
.about p{
    font-size: 20px;
    color:#252525;
}

.about img{
    width:50%;
}

.about td{
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
}